
.gsd-keyboard.settings-ported
QtProject.conf
coc/
connections.db
dconf/
dleyna-renderer-service.conf
enchant/
evolution/
gh/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
nautilus/
pulse/
qBittorrent/
totem/
user-dirs.dirs
user-dirs.locale
vlc/

lazygit/config.yml
lazygit/state.yml

nvim/plugged/coc.nvim
nvim/plugged/java-syntax.vim
nvim/plugged/nerdcommenter
nvim/plugged/nerdtree
nvim/plugged/nvim-colorizer.lua
nvim/plugged/plenary.nvim
nvim/plugged/telescope.nvim
nvim/plugged/ultisnips
nvim/plugged/vim-airline
nvim/plugged/vim-javascript
nvim/plugged/vim-jsx-pretty
nvim/plugged/vim-nerdtree-syntax-highlight
nvim/plugged/vim-polyglot
nvim/plugged/vim-react-snippets

nvim/plugged/nord-vim/autoload
nvim/plugged/nord-vim/license
nvim/plugged/nord-vim/changelog.md
nvim/plugged/nord-vim/readme.md
