
.gsd-keyboard.settings-ported
QtProject.conf
coc/
connections.db
dconf/
dleyna-renderer-service.conf
enchant/
evolution/
gh/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
nautilus/
pulse/
qBittorrent/
totem/
user-dirs.dirs
user-dirs.locale
vlc/

lazygit/config.yml
lazygit/state.yml
